.cartDiv {
    
    text-align: center;
    margin:4rem;
    border: solid;
    border-width: 1px;
    border-color: rgb(126, 70, 116);
    border-radius: 4px;
    padding: 3rem;
}

.cartInfo{
    border-bottom: solid 1px;
    padding-bottom: 2rem;
    margin-bottom:2rem;
}